table {
  border-collapse: collapse;
}

td, th{
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #1D1E22;
  color: white;
  
}

#mainDiv {
  float: left;
  width: 100%;
  
}
#world {
  float: left;
  width: 400px;
}
#estates {
  float: right;
  width: calc(100% - 400px);
}

.coatSample {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 8px;
  
  border-radius: 50%;
  box-shadow: 3px 3px 3px lightgrey;

  vertical-align: middle;
}